- content_for :custom_javascripts do
  = javascript_include_tag 'pages/index'

%section#cta.slide{"data-ride" => "carousel"}
  / Indicators

  -#%ol.carousel-indicators
  -#  - for i in 0 .. @resp[:home_sliders].length - 1
  -#    %li{:class => i == 0 ? 'active' : '', 'data-slide-to' => i, 'data-target' => '#cta'}

  / Wrapper for slides
  .carousel-inner{:role => 'listbox'}
    - index = 0
    - @resp[:home_sliders].each do |slider|
      - index += 1

      .item{:class => index == 1 ? 'active' : ''}
        .img{:style => 'background-image: url(' + slider.image.url(:large) + ');'}
        .img-cover
        .carousel-caption
          .container
            .cta-content.col-md-8.pull-right
              .cta-header.logo.logo-white
                = slider.name
              .cta-main-content
                = slider.body

  / Controls
  %a.left.carousel-control{'data-slide' => 'prev', :href => '#cta', :role => 'button'}
    %span.glyphicon.glyphicon-chevron-left{'aria-hidden' => 'true'}
    %span.sr-only Previous
  %a.right.carousel-control{'data-slide' => 'next', :href => '#cta', :role => 'button'}
    %span.glyphicon.glyphicon-chevron-right{'aria-hidden' => 'true'}
    %span.sr-only Next

%section#introduction
  .container
    %img.visible-md.visible-lg{:src => image_url('bottle.png')}
    .col-md-9.pull-right.text-center
      .title
        维诺特－百年佳酿传奇
      .content
        Wilnuoterwine维诺特(Wilnuoter)酒庄始建于1890年,酒庄位于南澳大利亚古老 酒区巴罗莎山谷,更在麦卡伦山谷、阿德莱德山,库纳瓦拉,莫瑞河岸等南澳其它知 名酒区拥有上千株葡萄种植园。 酒庄将百年传统酿造工艺以及现代化管理技术相结 合,其出产的葡萄酒多次荣获国际葡萄酒奖项,不单常年供销当地酒业零售店及高级 西餐厅,更专注于高档酒款出口国外,在欧美等国家的出口量更是以惊人的速度增涨 着,如今中国崛起,维诺特也借此良机,于今年进军亚洲市场。

%section#about-us-and-products
  .col-sm-6
    = link_to about_path do
      #about-us-section.about-us-and-products-area
        历史探索

  .col-sm-6
    = link_to products_path do
      #products-section.about-us-and-products-area
        产品介绍


%section#video
  = link_to "观看视频", '#', class: 'btn btn-default video-link'
