#wine-list-cta
  .container
    .cta-image{:style => 'background-image: url(' + image_url('red-wine.jpg') + ')'}

- has_pagination = true

- if @resp[:current_page].to_i == 1 && @resp[:products].length < @resp[:product_count_per_page].to_i
  - has_pagination = false

#wine-list
  .container.list{:class => has_pagination ? 'list-with-pagination' : 'list-without-pagination'}
    - @resp[:products].each do |product|
      .col-lg-3.col-md-4.col-sm-6
        .product
          %img.img-thumbnail{:src => image_url('wine-glass.png'), :alt => ''}
          .row.product-info
            .col-xs-7.product-name
              = product.name
            .col-xs-5.product-price
              $
              = product.price

  - if has_pagination
    #wine-list-pagination.container.text-center
      .pagination-control.prev
        = link_to_previous_page @resp[:products], '<i class="fa fa-long-arrow-left"></i>'.html_safe
      .pages
        = paginate @resp[:products]
      .pagination-control.next
        = link_to_next_page @resp[:products], '<i class="fa fa-long-arrow-right"></i>'.html_safe