- content_for :custom_javascripts do
  = javascript_include_tag 'products/show/wine_image_preview'
- content_for :custom_javascripts do
  = javascript_include_tag 'utils/highlighter/highlighter'

- product = @resp[:product]

#wine-list-cta
  .container
    .cta-image{:style => 'background-image: url(' + image_url('red-wine.jpg') + ')'}
      .cta-header.text-center
        = product.name


%section#wine-details
  .container

    - if product.product_images.length == 0
      .row
        = render 'products/partials/product_name_price_description', :product => product

    - elsif product.product_images.length <= 1
      = render 'products/partials/product_image_carousel', :product => product
      .row
        .col-md-6.hidden-sm.hidden-xs.text-center
          = render 'products/partials/product_single_image', :product => product
        .col-md-6.col-xs-12
          = render 'products/partials/product_name_price_description', :product => product

    - else
      = render 'products/partials/product_image_carousel', :product => product
      = render 'products/partials/product_multi_images', :product => product
      = render 'products/partials/product_name_price_description', :product => product

    %hr.first
    #wine-label-and-social
      #wine-labels.col-sm-6.col-xs-12
        %i.fa.fa-tags
        #labels
          BLACKBERRY, PLUM, VANILLA, COCOA
      #share-links.col-sm-6.col-xs-12
        #share-link-title Share Link:
        %i.fa.fa-facebook
        %i.fa.fa-twitter
        %i.fa.fa-google-plus
        %i.fa.fa-rss
    %hr

%section#related-wines
  .container
    #related-wines_header_wrapper.text-center
      .related-wines-header-logo.font-pinyon-script
        WilnuoterWine
      .related-wines-header
        相关产品
      #related-wines-split-wrapper
        .hr-image-wrapper
          %img.split-image{:src => image_url('hr-decoration-on-white.png')}
        %hr

    #wine-list
      .container.list.list-without-pagination
        .row
          - @resp[:related_products].each do |related_product|
            .col-lg-3.col-md-4.col-sm-6
              = link_to product_path(related_product) do
                .product{:id => related_product.id}
                  %img.img-thumbnail{:src => image_url(related_product.image.url(:small)), :alt => ''}
                  .row.product-info
                    .col-xs-7.product-name
                      = related_product.name
                    .col-xs-5.product-price
                      $
                      = related_product.price
        .row.text-center
          %a.btn.btn-default.learn-more-link 查看更多