- content_for :custom_javascripts do
  = javascript_include_tag 'products/show/wine_image_preview'

- product = @resp[:product]

#wine-list-cta
  .container
    .cta-image{:style => 'background-image: url(' + image_url('red-wine.jpg') + ')'}
      .cta-header.text-center
        = product.name

%section#wine-details
  .container
    #wine-images.hidden-sm.hidden-xs
      .col-md-9#wine-image-large
        %span.vertical-helper
        %img.large-image{:src => image_url(@resp[:product].product_images.first.image.url)}
      .col-md-3#wine-image-preview-wrapper
        #wine-image-preview-area
          - @resp[:product].product_images.each do |product_image|
            .wine-image-preview
              %img.image-preview{:src => image_url(product_image.image.url(:small))}
              .wine-image-large-url-keeper.data-keeper{'data-path' => image_url(product_image.image.url) }

    #wine-slider.hidden-md.hidden-lg.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        - for i in 0 .. @resp[:product].product_images.length - 1
          %li{:class => i == 0 ? 'active' : '', 'data-slide-to' => i, 'data-target' => '#wine-slider'}

      / Wrapper for slides
      .carousel-inner{:role => 'listbox'}
        - index = 0
        - @resp[:product].product_images.each do |product_image|
          - index += 1

          .item{:class => index == 1 ? 'active' : ''}
            %img{:src => product_image.image.url(:middle)}

      / Controls
      %a.left.carousel-control{'data-slide' => 'prev', :href => '#wine-slider', :role => 'button'}
        %span.glyphicon.glyphicon-chevron-left{'aria-hidden' => 'true'}
        %span.sr-only Previous
      %a.right.carousel-control{'data-slide' => 'next', :href => '#wine-slider', :role => 'button'}
        %span.glyphicon.glyphicon-chevron-right{'aria-hidden' => 'true'}
        %span.sr-only Next

    #wine-name
      = product.name
    #wine-price
      $
      = product.retail_price
    #wine-description
      = product.description
      %hr
    #wine-label-and-social
      #wine-labels.col-sm-6.col-xs-12
        %i.fa.fa-tags
        #labels
          BLACKBERRY, PLUM, VANILLA, COCOA
      #share-links.col-sm-6.col-xs-12
        #share-link-title Share Link:
        %i.fa.fa-facebook
        %i.fa.fa-twitter
        %i.fa.fa-google-plus
        %i.fa.fa-rss
    %hr

%section#related-wines
  .container
    #related-wines_header_wrapper.text-center
      .related-wines-header-logo.font-pinyon-script
        WilnuoterWine
      .related-wines-header
        相关产品
      #related-wines-split-wrapper
        .hr-image-wrapper
          %img.split-image{:src => image_url('hr-decoration-on-white.png')}
        %hr

    #wine-list
      .container.list.list-without-pagination
        - @resp[:related_products].each do |related_product|
          .col-lg-3.col-md-4.col-sm-6
            = link_to product_path(related_product) do
              .product
                %img.img-thumbnail{:src => image_url('wine-glass.png'), :alt => ''}
                .row.product-info
                  .col-xs-7.product-name
                    = related_product.name
                  .col-xs-5.product-price
                    $
                    = related_product.price
        .row.text-center
          %a.btn.btn-default.learn-more-link 查看更多